@charset "utf-8";

@font-face {
      font-family: 'AdobeHeitiStd-Regular';
      src: url('./font/AdobeHeitiStd-Regular.eot');
      src: url('./font/AdobeHeitiStd-Regular.eot?#iefix') format('embedded-opentype'),
           url('./font/AdobeHeitiStd-Regular.otf') format('otf'),
      font-weight: normal;
      font-style: normal;
   }

* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei";
}
input,select,button{
    border: 0;
}

body {
    background-color: #f5f5f5
}

.center {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    /*background-color: #d2d2d2;*/
    margin-bottom: 40px;
}

/*顶部*/
.head {
    height: 40px;
    width: 100%;
    background-color: #4b5cc1;
    min-width: 1200px;
    line-height: 40px;
    font-family: "方正兰亭黑简";
    color: white;
    font-size: 16px
}

.headleft {
    display: inline-block;
    float: right;
}

.headright {
    display: inline-block;
}

.head .headleft a.hover,
a:link,
a:visited,
a:active {
    /*color: white;*/
    text-decoration: none;
}

/*底部*/
.footer {
    width: 100%;
    min-width: 1200px;
    height: 30px;
    line-height: 30px;
    background-color: rgb(73,73,73);
    font-size: 12px;
    text-align: center;
    color: #8B8B8B;
    position: fixed;
    bottom: 0;
}
.headleft a{
    color: #fff
}
.footer a{
    color: #fff
}
/*导航栏*/

.navwai {
    width: 100%;
    background-color: #f5f5f5;
    min-width: 1200px;
}

.navwai .width {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    background-color: #ffffff;
}

.navwai .width .left {
    margin: 15px 15px;
    height: 50px;
    width: 400px;
    display: inline-block;
}

.navwai .width .left span {
    display: inline-block;
    font-size: 22px;
    color: #264d84;
    margin-left: 10px;
}

.navwai .width .right {
    float: right;
    margin: 15px 15px;
    height: 50px;
    line-height: 50px;
    /*width: 500px;*/
}

.dropbtn {
    background-color: #ffffff;
    color: #77839d;
    padding: 15px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.dropbtn1{
    color: #77839d;
}
.dropbtn1:link,
.dropbtn1:visited,
.dropbtn1:active {
    background-color: #ffffff;
    padding: 15px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: #999999;
    padding: 0px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    font-size: 16px;
    color: #80bcff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #0e83dc;
    font-weight: bold;
}

.dropbtn:hover {
    color: #0e83dc;
    font-weight: bold;
    border: 0;
}

.dropbtn1:hover {
    color: #0e83dc;
    font-weight: bold;
    border: 0;
}
.dropbtnhover{
    color: #0e83dc;
    font-weight: bold;
    border: 0;
}

/*修改密码弹窗样式*/
.editMask {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    z-index: 10000;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.editMask .editBox {
    position: absolute;
    width: 500px;
    height: 500px;
    background: #FFF;
    left: 50%;
    top: 45%;
    margin-left: -225px;
    margin-top: -165px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.editMask.is-visible3 {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.editMask.is-visible3 .editBox {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/*弹窗表单样式*/
.editBox .bar {
    float: left;
    width: 100%;
    /*background: #df0614;*/
    color: #333333;
    margin: 20px auto;
    /*padding-left: 20px;*/
    text-align: center;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}

.editBox ul.pass {
    float: left;
    width: 280px;
    margin: 10px 110px;
    /*padding: 25px 30px 0 30px;*/
}

.editBox ul.pass li {
    float: left;
    width: 100%;
    list-style: none;
}

.editBox ul.pass li label {
    /*float: left;*/
    height: 40px;
    line-height: 40px;
    width: 100px;
    text-align: right;
    /*padding-right: 5px;*/
}

.editBox ul.pass li p {
    /*float: left;*/
    width: 280px;
}

.editBox ul.pass li input.i-box {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #666;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*padding: 0 10px;*/
    background-color: #f2f9ff;
}

/*弹出框按钮样式*/
.tipbtn {
    width: 100%;
    /*background: #f5f5f5;*/
    /*padding: 15px;*/
    margin-top: 7px;
}

 .bar .passbtn {
    /*float: right;*/
    background: #6889ff;
    color: #fff;
    cursor: pointer;
    /*border-radius: 5px;*/
    border: none;
    /*-moz-border-radius: 5px;
    -webkit-border-radius: 5px;*/
    width: 150px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    /*margin-left: 15px;*/
    margin: 0px 20px;
    font-size: 16px;
}

.bar .mmqd:hover {
    background: #6889ff
}

.bar .mmqx {
    background: #ff6b41;
}

.bar .mmqx:hover {
    background: #ff6b41
}


/*完善个人样式*/

.editMask4 {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    z-index: 10000;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.editMask4 .editBox {
    position: absolute;
    width: 500px;
    height: 500px;
    background: #FFF;
    left: 50%;
    top: 45%;
    margin-left: -225px;
    margin-top: -165px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.editMask4.is-visible3 {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.editMask4.is-visible3 .editBox {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}



/*a标签样式*/
.aa1{
    color: #66D03C;
}
.aa2{
    color: #ae9fff;
}
.aa3{
    color: #76b6ff;
}
.aa4{
    color: #6479f9;
}