@charset "utf-8";

.shang{
    height: 285px;
    background-color: #f2f2f2;
    padding: 6px 30px;
}

.nav{
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 18px;
    color: #666666;
}

.nav1{
	margin: 14px 14px 0px 14px;
	height: 20px;
	line-height: 20px;
	width: 940px;
	display: inline-block;
}

.nav1 img{
	display: inline-block;
	/*height: 20px;*/
	vertical-align: middle;
}

.nav1 p{
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	color: #666666;
}

.xuan{
	width: 255px;
	height: 75px;
	margin: 14px 14px 0px;
	float: left;
	/*border: 1px solid red;*/
}
.xuan p{
	margin-bottom: 10px;
	font-size: 16px;
	color: #666666;
}
.xuan input{
	background-color: #f2f9ff;
	width: 100%;
	height: 34px;
	padding:5px;
}
.xuan select{
	
	width: 265px;
	height: 44px;
	padding:5px;
	/* 清除默认的箭头样式 */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /* 右侧添加小箭头的背景图 */
    background: url('../image/select_arrow.png') 240px center no-repeat;
    background-color: #f2f9ff;
    background-size: 12px;
}

.xuan .subt{
	width: 130px;
	height: 44px;
	background-color: #ffab40;
	cursor:pointer;
	font-size: 16px;
	color:#ffffff;
}

/*作业列表*/
.xia{
	padding: 20px 30px;
	background: url(../image/img8.png) repeat;
    background-size: 60px 60px;
}

.xiabutton{
	width: 160px;
	height: 40px;
	background-color: #6889ff;
	color: #ffffff;
	cursor: pointer;
    font-size: 16px;
}

/*列表样式*/
#customers
{
	width:100%;
	border-collapse:collapse;
	margin:14px auto;
}
#customers td 
{
    font-size:14px;
    border-right:1px solid #a6c4ee;
    padding:3px 7px 2px 7px;
    height: 40px;
    text-align: center;
    color: #808080
}
#customers tr 
{
    background: rgb(249,243,243,0.50);
}

#customers tr:nth-child(even){background: rgb(207,222,244,0.66);}

#customers th 
{
    font-weight:normal;
	font-size:15px;
    padding:3px 7px 2px 7px;
    height: 40px;
    border-right:1px solid #a6c4ee;
	background-color:#3f7fda;
	color:#ffffff;
    text-align: center;
}

/*新增作业*/
.editMask2 {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    z-index: 10000;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.editMask2 .editBox {
    position: absolute;
    width: 600px;
    height: 550px;
    background: #FFF;
    left: 50%;
    top: 35%;
    margin-left: -225px;
    margin-top: -165px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.editMask2.is-visible3 {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.editMask2.is-visible3 .editBox {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/*弹窗表单样式*/
.editMask2 .editBox ul.pass {
    float: left;
    width: 520px;
    margin: 10px 20px 10px 50px;
    height: 325px;
    overflow-y:auto
}

.editMask2 .editBox ul.pass li {
    float: left;
    width: 230px;
    margin: 0px 10px;
    list-style: none;
}

.editMask2 .editBox ul.pass li label {
    /*float: left;*/
    height: 40px;
    line-height: 40px;
    width: 100px;
    text-align: right;
    /*padding-right: 5px;*/
}

.editMask2 .editBox ul.pass li p {
    /*float: left;*/
    width: 230px;
}

.editMask2 .editBox ul.pass li input.i-box {
    float: left;
    width: 215px;
    height: 40px;
    line-height: 40px;
    color: #666;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #f2f9ff;
    padding: 0px 10px;
}
.editBox ul.pass li p select{
    width: 235px;
    height: 40px;
    padding:5px;
    /* 清除默认的箭头样式 */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /* 右侧添加小箭头的背景图 */
    background: url('../image/select_arrow1.png') 210px center no-repeat;
    background-color: #f2f9ff;
    background-size: 12px;
}

/*修改作业*/
.editMask3 {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    z-index: 10000;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.editMask3 .editBox {
    position: absolute;
    width: 600px;
    height: 550px;
    background: #FFF;
    left: 50%;
    top: 35%;
    margin-left: -225px;
    margin-top: -165px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.editMask3.is-visible3 {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.editMask3.is-visible3 .editBox {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/*弹窗表单样式*/
.editMask3 .editBox ul.pass {
    float: left;
    width: 520px;
    margin: 10px 20px 10px 50px;
    height: 325px;
    overflow-y:auto
}

.editMask3 .editBox ul.pass li {
    float: left;
    width: 230px;
    margin: 0px 10px;
    list-style: none;
}

.editMask3 .editBox ul.pass li label {
    /*float: left;*/
    height: 40px;
    line-height: 40px;
    width: 100px;
    text-align: right;
    /*padding-right: 5px;*/
}

.editMask3 .editBox ul.pass li p {
    /*float: left;*/
    width: 230px;
}

.editMask3 .editBox ul.pass li input.i-box {
    float: left;
    width: 215px;
    height: 40px;
    line-height: 40px;
    color: #666;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #f2f9ff;
    padding: 0px 10px;
}

/*作业数据详情*/
.rmsg{
    padding: 14px 47px;
    background-color: #fff;
    font-size:0
}
.rmsg .msgs {
    list-style: none;
    padding: 10px 10px;
    border: 1px solid #e6eef2;
    width: 253px;
    display: inline-block;
    /*float: left;*/
    height: 16px;
    line-height: 16px;
}
.pp1{
    color: #0a2956;
    float: left;
    font-size: 14px;
}
.ppp1{
    color: #333333;
    float: left;
    font-size: 14px;
}
.pp2{
    color: #808080;    
    font-size: 14px;
    float: right;
    width: 140px;
    overflow: hidden;
    text-align: right;
}

/*舱数据*/
.cabinmsg{
    background: url(../image/img8.png) repeat;
    background-size: 60px 60px;
}

.cabinmsg .chi {
    padding: 14px 26px;
}
.chi .shui{
    display: inline-block;
    margin: 10px 30px;
    width: 511px;    
    font-size: 0;
}

.pp{
    text-align: center;
    color: #0a2596;
    font-size: 18px;
    margin-bottom: 10px;
}

.chishuimsg {
    list-style: none;
    padding: 10px 10px;
    border: 1px solid #e6eef2;
    width: 222px;
    display: inline-block;
    /*float: left;*/
    height: 26px;
    line-height: 26px;
}

.cabindiv{
    padding: 10px 26px;
    font-size: 0;
}
.divcabin{
    display: inline-block;
    margin: 0px 10px;
    font-size: 18px;
    width: 554px;
    vertical-align:top;
}

.panel {
    border: 1px solid #fff;
}

.look {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    float: right;
    margin-right: 30px;
    cursor: pointer;
    color: #999999;
    font-weight: normal;
}

.look1 {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    float: right;
    margin-right: 30px;
    cursor: pointer;
    font-weight: normal;
}

.look1 a {
    text-decoration: none;
    color: #666666;
}

.head1 {
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    background: #7fa5e9;
    font-size: 15px;
    color:#ffffff;
}

.contentss {
    padding: 10px;
    border: 1px solid #fff;
    display: none;
    background: #e7eef8
}


.table{
    width:500px;
    margin:auto auto;
    text-align: center;
    border-collapse:collapse;
   
}
.table tr{
    height: 40px;
    line-height: 40px;
}

.table tr td{
    border: 1px solid #a6c4ee;
    padding: 0px 10px;
}


.remarks{
    padding: 25px 35px;
}

.pp3{
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}

.pp4{
    line-height: 35px;
    font-size: 14px;
    background-color: #dbe6f6;
    display: inline-block;
    color: #808080;
    width: 1000px;
    padding: 0px 10px;
}

.baobiao{
    text-align: center;
    padding: 20px;
}
.butt1{
    height: 40px;
    line-height: 40px;
    padding: 10px 20px;
    background-color: #536dfe;
    font-size: 16px;
    color: #ffffff;
}

/*评价*/
.rmsg .img{
    margin: 35px 80px 80px;
    width: 250px;
    height: 225px;
}
.rmsg .titlet{
    display: inline-block;
    height: 225px;
    vertical-align: top;
    width: 600px;
    text-align: center;
    margin-top: 40px;
}
.titlet p{
    color: #666666;
    font-size: 24px;
    margin: 9px auto;
    
}
.titlet .p11{
    color: #fd8e0c;
    font-size: 15px;
    
}
.titlet .p12{
    color: #666666;
    font-size: 18px;
    text-align: left;
}
.titlet .liuy{
    padding: 14px 10px;
    width: 580px;
    height: 80px;
    line-height: 20px;
    overflow-y: auto;
    background-color: #e6edf8;
    resize:none;
    border: 0;
}
.evaluate{  
    width:100%; 
    /*margin: 10px 100px 10px 150px;*/
}  
.evaluate{
    text-align: center;
}
.starts{  
    width:150px;  
    float:left;  
}  
.title2{    
    float:left;  
}  
 

.titlet .subt{
    margin: 10px;
    width: 130px;
    height: 44px;
    background-color: #ffab40;
    cursor:pointer;
    font-size: 16px;
    color:#ffffff;
}
 
.rmsgs{
    padding: 14px 47px;
    font-size:20px;
}
