body {
    margin: 0;
    padding: 0;
    background-color: #999;
}

.cen {
    margin: 50px auto;
    width: 710px;
    background-color: white;
}

.kuan {
    padding: 30px 50px;
    margin: auto auto;
}

.xin {
    border: 1px solid #999;
    width: 290px;
    height: 45px;
    display: inline-block;
    float: left;
    margin: 7px 6px;
    line-height: 40px;
    background-color: #f8fbff
}
.changepwd{
    border: 1px solid #999;
    width: 290px;
    height: 45px;
    /*display: inline-block;*/
    /*float: left;*/
    margin: 7px auto;
    line-height: 40px;
    background-color: #f8fbff
}
.tijiao {
    text-align: center;
    height: 40px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-family: "方正兰亭黑简";
    clear: both;
    position: relative;
    top: 20px;
}

.input2 {
    background-color: #3ca0fe;
    height: 40px;
    line-height: 40px;
    width: 120px;
}

.xinleft {
    width: 109px;
    text-align: left;
    height: 100%;
    display: inline-block;
}

.xinright {
    display: inline-block;
    height: 99.9%;
    line-height: 99.9%;
}

.input1 {
    border: 0px;
    background-color: #f8fbff;
    height: 90%;
}

.select1 {
    background-color: #f8fbff;
    height: 99%;
    width: 160px;
    font-size: 15px;
    margin: auto auto;
    border: 0px;
}

.div1 {
    margin-right: 40px;
    background-color: #3ca0fe;
    color: white;
    width: 90px;
    vertical-align: middle;
    height: 35px;
    line-height: 35px;
    margin: 0px auto
}